.cluster {
  --space: var(--s1);
  overflow: hidden;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--space) / 2);
}


/*
  Only for better visualisatiion
*/
.cluster {
  border: var(--border-thin) solid;
  filter: invert(100%);
}

.cluster > * > * {
  border: var(--border-thin) solid;
  padding: var(--s-1);
}